*, html, body, .display-4{
    font-family: 'Poppins';
}

body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.c-pointer {
    cursor: pointer;
}

/* Shadows for Navbar and Footer */
.navbar, footer, .card {
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25) !important;
}

div#navbarmy {
    text-align: center;
}

.no-border {
    border: none !important;
}

.navbar li.nav-item a {
    font-weight: 600;
    font-size: 15px;
    margin-right: 6px;
    margin-left: 6px;
    color: #2d405f !important;
    transition: 0.33s;
}

.navbar li.nav-item a:hover {
    color: #004e92 !important;
}

.navbar li.nav-item a.active {
    color: #004e92 !important;
}

#get-started-btn{
    font-weight: 600;
    font-size: 15px;
}


#form-upload, #form-text {
    border: 1px dotted black !important;
    border-style: dashed !important;
    cursor: pointer;
}

#form-text, textarea {
    font-size: 15px;
    padding-left: 7px;
    padding-top: 7px;
    cursor: text;
}

#form-text:focus, textarea:focus {
    outline: none !important;
}
  
#form-upload .dz-button {
display: none;
}

.form-file-header {
    position: absolute;
}
#form-file {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Dropdowns */
.dropdown-menu {
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border: none;
}

.dropdown-menu .dropdown-item {
    width: auto;
}

#navbarmy .navbar-nav .dropdown .dropdown-item {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
};

.circle {
    border: 1px solid #fff;
    width: 300px !important;
    height: 300px !important;
    color: white;
    z-index: 10;
    display: inline-block;
    padding: 50px;
}


.circle {
    width: 250px !important;
    height: 250px !important;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    z-index: 1;;
}

.border-layer-1, .border-layer-2, .border-layer-3 {
    border-right: solid #5d9acf;
    border-top: solid #5d9acf;
    border-left: solid #3082a8;
    border-bottom: solid #3082a8;
    border-width: 5px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    animation-name: circleBorder;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 1s;
    position: absolute;
}

.border-layer-2 {
    border-right: solid #3082a8;
    border-top:  solid #3082a8;
    border-left: solid #5d9acf;
    border-bottom: solid #5d9acf;
    border-width: 5px;
    width: 259px;
    height: 259px;
    animation-duration: 5s;
}

.border-layer-3 {
    border-right: solid #3082a8;
    border-top:  solid #3082a8;
    border-left: solid #5d9acf;
    border-bottom: solid #5d9acf;
    border-width: 5px;
    width: 268px;
    height: 268px;
    animation-duration: 3s;
}
.inner-cricle {
    position: absolute;
}

.popover {
    margin-bottom: 20px;
    z-index: 1;
}


@keyframes circleBorder {
    0% {
    }

    100% {
        transform: rotate(1turn);
    }
}


/* Global Classes */
#form-accesskey, #accesskey-input {
    text-transform: uppercase;
}

.text-decoration-none {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.bg-gradient {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon-large {
    font-size: 4.5rem !important;
}

.text-ternary {
    color: #466393;
}

.bg-ternary {
    background: #466393 !important;
}

.underline-primary {
    /* border-bottom: 3px solid #466393; */
    text-decoration: underline;
    text-decoration-color: #466393;
}

.border-top {
    border-top: 4px solid #466393 !important;
}

#download-pop-btn {
    width: 100%;
}

/* Start-Popver */
#start-popover {
    animation-name: start-popover;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    /* animation-play-state: running; */
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

#cloud-icon  {
    position: absolute;
    opacity: 0;
    transition: 0.7s;
    font-size: 6.5rem !important;
}

#start-text {
    z-index: 12;
    transition: 0.8s;
}

#upload-div:hover  #cloud-icon {
    opacity: 1;
    transition: 0.7s;
}

#upload-div:hover #start-text {
    opacity: 0;
}


@keyframes start-popover {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(8px)
    }
}

@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
          display: block;
      }
      .dropdown-menu{
          margin-top: 0;
      }
      .dropdown-toggle{
          margin-bottom: 2px;
      }
      .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
          margin-bottom: 0;
      }
  }

/* -------------------------- Project Ownership -------------------------- */
/* 1. Project Name: Project Ownership Generator */
/* 2. Developer/Creator: Mohammad Nabi */
/* 3. Creation Date: 4/20/2020 */
/* 4. Brief Description: Project Ownership helps every developer to save their efforts! */
/* 5. Version: 1.0 */
/* 6. Join me on Facebook: https://facebook.com/mohammadnabi.hotaki */
/* 7. Our Website: https://codezune.com */
/* ----------------------------------- POG ----------------------------------- */