*, html, body {
    font-family: 'Poppins';

}

.c-pointer {
    cursor: pointer;
}

.navbar {
    border-bottom: 2px solid #ced4da;
}

.navbar li.nav-item a {
    font-weight: 600;
    font-size: 15px;
    margin-right: 6px;
    margin-left: 6px;
    color: #2d405f !important;
    transition: 0.33s;
}

.navbar li.nav-item a:hover {
    color: #3b4ef8 !important;
}

.navbar li.nav-item a.active {
    color: #3b4ef8 !important;
}

#get-started{
    font-weight: 600;
    font-size: 15px;
}

#form-upload, #form-text {
    border: 1px dotted black !important;
    border-style: dashed !important;
    cursor: pointer;
}

#form-text, textarea {
    font-size: 15px;
    padding-left: 7px;
    padding-top: 7px;
    cursor: text;
}

#form-text:focus, textarea:focus {
    outline: none !important;
}
  
#form-upload .dz-button {
display: none;
}

.form-file-header {
    position: absolute;
}
#form-file {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}


/* -------------------------- Project Ownership -------------------------- */
/* 1. Project Name: Project Ownership Generator */
/* 2. Developer/Creator: Mohammad Nabi */
/* 3. Creation Date: 4/20/2020 */
/* 4. Brief Description: Project Ownership helps every developer to save their efforts! */
/* 5. Version: 1.0 */
/* 6. Join me on Facebook: https://facebook.com/mohammadnabi.hotaki */
/* 7. Our Website: https://codezune.com */
/* ----------------------------------- POG ----------------------------------- */